{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "reviews/styles.css" %}">
</head>
<body>
    <form action="/" method="POST"> <!--This will now send a post request rather than a get request.-->
        {% csrf_token %}
        {%for field in form%}
          <div class="form-control {% if field.errors %} errors {% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>

        {% endfor %}
       
        <button type="submit">Send</button>
    </form>
</body>
</html>




 <!-- <div class="form-control {% if form.user_name.errors %} errors {% endif %}">
          {{ form.user_name.label_tag }}
          {{ form.user_name}}
          {{ form.user_name.errors }}
        </div>
        <div class="form-control {% if form.user_name.errors %} errors {% endif %}">
            {{ form.review_text.label_tag }}
            {{ form.review_text}}
            {{ form.review_text.errors }}
          </div> -->