{% extends "reviews/base.html" %}

{% block title %} Your review {% endblock %}
    
{% block content %}
    <form action="/" method="POST"> <!--This will now send a post request rather than a get request.-->
        {% csrf_token %}
        {%for field in form%}
          <div class="form-control {% if field.errors %} errors {% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>

        {% endfor %}
       
        <button type="submit">Send</button>
    </form>
{% endblock %}





 <!-- <div class="form-control {% if form.user_name.errors %} errors {% endif %}">
          {{ form.user_name.label_tag }}
          {{ form.user_name}}
          {{ form.user_name.errors }}
        </div>
        <div class="form-control {% if form.user_name.errors %} errors {% endif %}">
            {{ form.review_text.label_tag }}
            {{ form.review_text}}
            {{ form.review_text.errors }}
          </div> -->